.banner {
    background-image: url('images/astronaut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    text-align: center;
    color: white;
    padding-top: 50px;
    justify-content: center;
  }

  h1{
    justify-content: center;
    font-size: 100px;
    color: yellow;
    text-shadow: 0 0 20px #ffffff;
  }
  
  h2{
    justify-content: center;
    padding-top: 250px;
    font-size: 100px;
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px ;
  }
  
  @media (max-width: 700px){

    
  h1{
    justify-content: center;
    font-size: 50px;
    color: yellow;
    text-shadow: 0 0 20px #ffffff;
  }
  
  h2{
    justify-content: center;
    padding-top: 200px;
    font-size: 50px;
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px ;
  }
  
    
  }